a{
    color: aqua;
}
.img-portada {
    width: 100%;
    /*display: block;*/
    height: 250px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-size: cover;
   
  
    /*margin-left: -13px;*/
}
    
.img-profile {
    /*position: absolute;*/
    
    margin-top: -70px;
    margin-left: 20px;
    left: 45px;
    bottom: -20px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
}
.borde{
    border: 5px solid;
    border-image-slice: 1;
	border-width: 3px;
	border-color: #2ebfa5;
    
}
.Info{
    margin-top: 2%;
    font-size: 15px;
    color: darkred;
}
h2{
    color: darkred;
    font-weight: bold;
    font-size: 27;
}
p{
  color:  rgba(226, 214, 41, 0.849);
  font-weight: bold;
}