<h1 mat-dialog-title>Editar Educacion</h1>
<mat-dialog-content>
    <div [formGroup]="eduEditar">
        <mat-form-field>
            <mat-label>Lugar donde se recibio</mat-label>
            <input matInput  placeholder="Ingrese Lugar donde se recibio" formControlName="lugar">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Titulo </mat-label>
            <input matInput  placeholder="Ingrese su titulo" formControlName="titulo">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Año que se recibio</mat-label>
            <input matInput  placeholder="Ingrese añio de cuando se recibio" formControlName="anio">
        </mat-form-field>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Salir</button>
    <button mat-raised-button  color="primary" [attr.disable]="isFormValid()" (click)="editarEdu()" cdkFocusInitial>Editar Educacion</button>
</mat-dialog-actions>

