<div class="fondo" [ngClass]="{'oscuro':oscuro}">
   
    <h1>Hola <span class="nombre">{{per?.infoPersonal?.nom}} {{per?.infoPersonal?.ape}}</span> </h1>
    <div class="texto">
        <p> ¡Gracias por registrarte y acceder a nuestra pagina! </p>
        <p>Te invitamos a utilizar esta pagina para poder subir y actualizar tu perfil . </p>
        <p>Tambien no olvides que lo puedes descargar siempre que quieras.</p>
        <p>Finalmente no olvides que puedes ver cualquier perfil de la comunidad</p>
    </div>
    
</div>