.icono{
    font-size: 25px;
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}

.imagen{    
    height: 50px;
    width: 50px;  
}
.descripcion{
    color: rgb(182, 182, 182);
    font-size: 18px;
    font-style: italic;
    font-weight: bold
}
.titulo{
    font-size: 26px;
    font-weight: bold;
    color: rgb(211, 40, 188);
}
a{
    color: aqua;
}

.contenedor {
   
    position: relative;
    background-color: aqua;
  }
  
  .hijo {
    width: 50px;
    height: 50px;
    background-color: red;
    /* centrado vertical */
    position: absolute;
    top: 50%;
    margin-top: -25px; /* (- menos) la mitad del valor de la altura del elemento hijo */
  }

::ng-deep.mat-grid-tile-content{
    justify-content: left !important;
    align-items: initial;
  

}    
.test>::ng-deep.mat-grid-tile-content{
    justify-content: right !important;
}
h2{
    color: darkred;
    font-weight: bold;
    font-size: 27;
}
p{
  color:  rgba(226, 214, 41, 0.849);
  font-weight: bold;
}