<h1 mat-dialog-title>Editar Proyecto</h1>
<mat-dialog-content>
    <div [formGroup]="proyEditar">
        <mat-form-field>
            <mat-label>Nombre Proyecto</mat-label>
            <input matInput  placeholder="Ingrese el nombre del proyecto" formControlName="nombreP">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Link Proyecto</mat-label>
            <input matInput  placeholder="Ingrese link del proyecto" formControlName="link">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Descripcion </mat-label>
            <textarea matInput  placeholder="Ingrese una descripcion del proyecto" formControlName="descripcion"></textarea>
        </mat-form-field>
        

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Salir</button>
    <button mat-raised-button  color="primary" [attr.disable]="isFormValid()" (click)="editarProy()" cdkFocusInitial>Editar Proyecto</button>
</mat-dialog-actions>


